
					<ul class="resp-tabs-list wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
						{loop archive($_catid,$_typeid,$_spid,$_area,$_length,$_ordertype,$_limit,$_image,$_attr1,$_son,$_wheretype,$_tpl,$_intro_len,$_istop) $archive}
						<li class="resp-tab-item"><span><img alt="{$archive['stitle']}" src="{$archive['thumb']}" onerror='this.src="{config::get('onerror_pic')}"' /></span></li>
						{/loop}			
					</ul>
					<div class="clearfix"> </div>
					<div class="resp-tabs-container wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
						{loop archive($_catid,$_typeid,$_spid,$_area,$_length,$_ordertype,$_limit,$_image,$_attr1,$_son,$_wheretype,$_tpl,$_intro_len,$_istop) $archive}
						<div class="tab-1 resp-tab-content">				
							<div class="view1 view-first">
								<h5><a href="{$archive['url']}" style="color:{$arc[color]};" target="_blank" >{$archive['title']}</a></h5>
								<p>{$archive[intro]}</p>
							</div>
						</div>
						{/loop}
					</div>	


